header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0 90px;
  box-sizing: border-box;

  .logo_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      margin-right: 22px;
    }

    .logo_description {
      color: #FFFFFF;

      .title {
        font-size: 40px;
        letter-spacing: 0.15em;
        font-family: "SF-UI-Display-Light";
      }

      .subtitle {
        font-size: 17px;
        letter-spacing: 0.1em;
        font-family: "SF-UI-Display-Thin";
      }
    }
  }

  nav {
    .navigation_list {
      display: flex;
      align-items: center;
      
      .nav_wrap {
        padding: 5px;
        box-sizing: border-box;
        font-size: 20px;
        letter-spacing: 0.1em;
        color: #FFFFFF;
        cursor: pointer;
        border-bottom: 1px solid transparent;
        font-family: "SF-UI-Display-Thin";

        &:hover {
          border-bottom: 1px solid #FFFFFF;
        }

        &:not(:last-child) {
          margin-right: 100px;
        }
      }
    }
  }
}