<header>
  <div class="logo_wrapper">
    <svg class="logo" width="75" height="75" viewBox="0 0 75 75" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect width="75" height="75" fill="white" />
      <rect x="24.2817" y="58.7189" width="6.20659" height="6.20659" rx="3.10329" stroke="black" />
      <rect x="12.6702" y="59.7189" width="4.20659" height="4.20659" rx="2.10329" fill="black" stroke="black"
        stroke-width="3" />
      <rect x="12.6702" y="27.2893" width="4.20659" height="4.20659" rx="2.10329" fill="black" stroke="black"
        stroke-width="3" />
      <rect x="12.6702" y="43.5041" width="4.20659" height="4.20659" rx="2.10329" fill="black" stroke="black"
        stroke-width="3" />
      <rect x="12.6702" y="11.0745" width="4.20659" height="4.20659" rx="2.10329" fill="black" stroke="black"
        stroke-width="3" />
      <rect x="24.2817" y="10.0745" width="6.20659" height="6.20659" rx="3.10329" stroke="black" />
      <rect x="45.8205" y="11.0745" width="4.20659" height="4.20659" rx="2.10329" fill="black" stroke="black"
        stroke-width="3" />
      <rect x="45.8205" y="27.2893" width="4.20659" height="4.20659" rx="2.10329" fill="black" stroke="black"
        stroke-width="3" />
      <rect x="45.8205" y="43.5041" width="4.20659" height="4.20659" rx="2.10329" fill="black" stroke="black"
        stroke-width="3" />
      <rect x="45.8205" y="59.7189" width="4.20659" height="4.20659" rx="2.10329" fill="black" stroke="black"
        stroke-width="3" />
      <rect x="57.432" y="42.5041" width="6.20659" height="22.4214" rx="3.10329" stroke="black" />
    </svg>
    <div class="logo_description">
      <h1 class="title">CoreBox</h1>
      <p class="subtitle">.technologies with you</p>
    </div>
  </div>
  <nav>
    <ul class="navigation_list">
      <li class="nav_wrap" [routerLink]="['/systems']">My systems</li>
      <li class="nav_wrap">Language</li>
      <li class="nav_wrap">CB Team</li>
      <button class="nav_wrap" [disabled]="userName !== 'Login'" type="submit"
        (click)="modalService.showRegistrationModal = true">{{userName}}</button>
    </ul>
  </nav>
</header>