<div class="modal_wrapper" [ngClass]="modalService.showAddingSystemModal ? 'modal-active' : 'out'">
  <div class="form_wrapper">

    <div class="title_wrapper">
      <h2 class="title">Adding system</h2>
      <p class="content">If you want to add a new smart home system, find a special connection code on the CoreBox
        central unit and enter it to the form below. Give a name to your system and turn on your comfort!
      </p>
    </div>

    <form>
      <input class="input_name" type="text" placeholder="System Name">
      <input type="text" placeholder="Connection code">
      <div class="buttons_wrapper">
        <button type="submit" class="confirm_btn">
          Confirm
        </button>
        <button type="submit" class="cancel_btn">
          Cancel
        </button>
      </div>
    </form>

  </div>

  <div class="circles_wrapper">
    <div class="top_right_circle"></div>
    <div class="top_left_circle"></div>
    <div class="middle_left_circle"></div>
    <div class="bottom_right_circle"></div>
    <div class="bottom_left_circle"></div>
  </div>

  <div class="arrow" (click)="modalService.showAddingSystemModal = false">
    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect x="4.67358" y="32" width="3.01249" height="27.1124" transform="rotate(-90 4.67358 32)" fill="white" />
      <rect x="28.7734" y="4.13452" width="3.01249" height="27.1124" fill="white" />
      <rect y="2.13013" width="3.01249" height="40.9665" transform="rotate(-45 0 2.13013)" fill="white" />
    </svg>
  </div>

</div>

<!-- <div class="background" [ngClass]="modalService.showRegistrationModal ? 'modal-active' : 'out'"></div> -->