
.modal_wrapper {
  width: 100%;
  min-height: 100%;
  color: #ffffff;
  background: #252525;
  display: flex;
  justify-content: space-between;
  padding: 0 120px;
  box-sizing: border-box;
  align-items: center;
  position: relative;
  z-index: 2;

  &.modal-active {
    overflow: hidden;
    animation: moveUp 1s cubic-bezier(0.365, 0.840, 0.140, 2.000) forwards;
  }

  &.out {
    overflow: hidden;
    z-index: 0;
    animation: moveDown .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
  }

  .form_wrapper {

    .title_wrapper {
      color: #FFFFFF;
      margin-bottom: 90px;

      .title {
        font-family: "SF-UI-Display-Light";
        font-size: 45px;
        letter-spacing: 0.1em;
        margin-bottom: 35px;
      }

      .content {
        width: 630px;
        font-family: "SF-UI-Display-Thin";
        font-size: 18px;
        letter-spacing: 0.1em;
        line-height: 30px;
        margin-bottom: 5px;
        color: #A9A9A9;
      }
    }

    form {
      display: block;

      input {
        font-family: "SF-UI-Display-Thin";
        letter-spacing: 0.1em;
        font-size: 20px;
        color: #A9A9A9;
        width: 393px;
        padding: 5px 0 15px 5px;
        border-bottom: 1px solid #353535;

        &:not(:last-child) {
          margin-bottom: 50px;
        }

        &:last-child {
          margin-bottom: 60px;
        }
      }

      .buttons_wrapper {
        display: flex;
        align-items: center;

        button {
          font-family: "SF-UI-Display-Thin";
          color: #FFFFFF;
          font-size: 20px;
          letter-spacing: 0.1em;
          padding: 10px 40px;
          border: 1px solid #FFFFFF;
          cursor: pointer;

          &:not(:last-child) {
            margin-right: 20px;
          }

          &:last-child {
            color: #FD8585;
            border: 1px solid #FD8585;
          }
        }
      }
    }
    
  }

  .circles_wrapper {
    position: relative;

    .top_left_circle {
      position: absolute;
      top: -330px;
      right: 203px;
      width: 140px;
      height: 140px;
      border: 1px solid #FFFFFF;
      border-radius: 128.5px;
    }

    .top_right_circle {
      position: absolute;
      top: -530px;
      right: -130px;
      width: 140px;
      height: 606px;
      border: 1px solid #FFFFFF;
      border-radius: 100px;
    }

    .middle_left_circle {
      position: absolute;
      top: -130px;
      right: 203px;
      width: 140px;
      height: 140px;
      border: 1px solid #FDEA85;
      border-radius: 128.5px;
    }

    .bottom_right_circle {
      position: absolute;
      top: 150px;
      right: -130px;
      width: 140px;
      height: 257px;
      border: 1px solid #FDEA85;
      border-radius: 128.5px;
    }

    .bottom_left_circle {
      position: absolute;
      top: 80px;
      right: 203px;
      width: 140px;
      height: 453.67px;
      border: 1px solid #FFFFFF;
      border-radius: 100px;
    }
  }

  .arrow {
    cursor: pointer;
    position: absolute;
    right: 27px;
    bottom: 45px;
  }
}

// .background {
//   position: absolute;
//   animation: moveUp 3s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   background: black;
//   opacity: 0.85;
//   backdrop-filter: blur(3px);
//   z-index: 1;

//   &.out {
//     animation: moveDown 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
//   }
// }

@keyframes moveUp {
  0% {
    transform:translateY(150px);
  }
  100% {
    transform:translateY(0);
  }
}

@keyframes moveDown {
  0% {
    transform:translateY(0px);
  }
  100% {
    transform:translateY(750px);
  }
}