main {
  position: relative;
  width: 100%;
  height: 100%;
  background: #000000;
  padding: 30px 0;
  box-sizing: border-box;
  overflow-y: hidden;

  .rectangle {
    position: absolute;
    bottom: -200px;
    left: -80px;
    width: 292px;
    height: 292px;
    border: 4px solid #FFFFFF;
  }

  .content_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px 0 0 90px;
    box-sizing: border-box;
    
    .content {
      padding-top: 50px;
      color: #FFFFFF;
      margin-right: 80px;

      .title {
        width: 536px;
        font-size: 50px;
        line-height: 60px;
        letter-spacing: 0.1em;
        font-family: "SF-UI-Display-Light";
        margin-bottom: 30px;
      }

      .content_text {
        width: 611px;
        font-size: 20px;
        letter-spacing: 0.1em;
        font-family: "SF-UI-Display-Thin";
        line-height: 30px;
        color: #A9A9A9;
        margin-bottom: 30px;
      }

      .add_system_btn {
        width: 80px;
        height: 80px;
        box-sizing: border-box;
        outline: none;
        color: #FFFFFF;
        border: 1px solid #FFFFFF;
        cursor: pointer;
      }
    }

    .house_wrapper {
      width: 550px;
      height: 410px;
      background: #101010;
      border-radius: 60px 0px 0px 60px;
      padding: 57px 136px;
      
      .house_img {
        width: 100%;
        height: 100%;
        background: url(../../../assets/images/house.png) no-repeat center;
        background-size: contain;
      }
    }
  }
}