<main>

  <app-header></app-header>

  <div class="content_wrapper">
    <section class="content">
      <h2 class="title">Add your first smart home system</h2>
      <p class="content_text">In order to add the CoreBox smart home system, you need to click on the button in the plus
        form below and fill out the appropriate form. Turn on your comfort!</p>
      <button class="add_system_btn" (click)="modalService.showAddingSystemModal = true">
        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect x="19.0164" width="1.96721" height="40" fill="white" />
          <rect y="20.9836" width="1.96721" height="40" transform="rotate(-90 0 20.9836)" fill="white" />
        </svg>
      </button>
    </section>

    <div class="house_wrapper">
      <div class="house_img"></div>
    </div>
  </div>

  <div class="rectangle"></div>

</main>