<router-outlet></router-outlet>
<app-registration *ngIf="modalService.showRegistrationModal"
  (closeModalEvent)="modalService.showRegistrationModal = false"></app-registration>
<app-system-adding *ngIf="modalService.showAddingSystemModal"
  (closeModalEvent)="modalService.showAddingSystemModal = false"></app-system-adding>