
.modal_wrapper {
  width: 100%;
  min-height: 100%;
  color: #ffffff;
  background: #252525;
  display: flex;
  justify-content: space-between;
  padding: 0 120px;
  box-sizing: border-box;
  align-items: center;
  position: relative;
  z-index: 2;

  &.modal-active {
    overflow: hidden;
    animation: moveUp 1s cubic-bezier(0.365, 0.840, 0.140, 2.000) forwards;
  }

  &.out {
    overflow: hidden;
    z-index: 0;
    animation: moveDown .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
  }

  .form_wrapper {

    .logo_wrapper {
      display: flex;
      align-items: center;
      margin-bottom: 60px;
  
      .logo {
        margin-right: 16px;
      }
  
      .logo_description {
        color: #FFFFFF;
  
        .title {
          font-size: 24px;
          letter-spacing: 0.15em;
          font-family: "SF-UI-Display-Light";
        }
  
        .subtitle {
          font-size: 12px;
          letter-spacing: 0.1em;
          font-family: "SF-UI-Display-Thin";
        }
      }
    }

    .title_wrapper {
      color: #FFFFFF;
      display: flex;
      align-items: flex-end;
      margin-bottom: 60px;

      .title {
        font-family: "SF-UI-Display-Light";
        font-size: 45px;
        letter-spacing: 0.1em;
      }

      .arrows {
        color: #353535;
        margin: 0 20px;
        font-size: 40px;
      }

      .login {
        font-family: "SF-UI-Display-Thin";
        font-size: 20px;
        letter-spacing: 0.1em;
        margin-bottom: 5px;
      }
    }

    form {
      display: block;

      input {
        font-family: "SF-UI-Display-Thin";
        letter-spacing: 0.1em;
        font-size: 20px;
        color: #A9A9A9;
        width: 393px;
        padding: 5px 0 15px 5px;
        border-bottom: 1px solid #353535;

        &:not(:last-child) {
          margin-bottom: 50px;
        }

        &:last-child {
          margin-bottom: 60px;
        }
      }

      .buttons_wrapper {
        display: flex;
        align-items: center;

        button {
          font-family: "SF-UI-Display-Thin";
          color: #FFFFFF;
          font-size: 20px;
          letter-spacing: 0.1em;
          padding: 10px 40px;
          border: 1px solid #FFFFFF;
          cursor: pointer;
        }

        .line {
          width: 1px;
          height: 32px;
          margin: 0 34px;
          background: #353535;
        }
      }
    }
    
  }

  .circles_wrapper {
    position: relative;

    .top_left_circle {
      position: absolute;
      top: -650px;
      right: 203px;
      width: 185px;
      height: 601px;
      border: 1px solid #FFFFFF;
      border-radius: 100px;
    }

    .top_right_circle {
      position: absolute;
      top: -500px;
      right: -130px;
      width: 185px;
      height: 404px;
      border: 1px solid #FDEA85;
      border-radius: 128.5px;
    }

    .middle_left_circle {
      position: absolute;
      top: 10px;
      right: 203px;
      width: 185px;
      height: 185px;
      border: 1px solid #FDEA85;
      border-radius: 128.5px;
    }

    .bottom_right_circle {
      position: absolute;
      top: -30px;
      right: -130px;
      width: 185px;
      height: 601px;
      border: 1px solid #FFFFFF;
      border-radius: 100px;
    }

    .bottom_left_circle {
      position: absolute;
      top: 250px;
      right: 203px;
      width: 185px;
      height: 185px;
      border: 1px solid #FFFFFF;
      border-radius: 128.5px;
    }
  }

  .arrow {
    cursor: pointer;
    position: absolute;
    right: 27px;
    bottom: 45px;
  }
}

// .background {
//   position: absolute;
//   animation: moveUp 3s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   background: black;
//   opacity: 0.85;
//   backdrop-filter: blur(3px);
//   z-index: 1;

//   &.out {
//     animation: moveDown 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
//   }
// }

@keyframes moveUp {
  0% {
    transform:translateY(150px);
  }
  100% {
    transform:translateY(0);
  }
}

@keyframes moveDown {
  0% {
    transform:translateY(0px);
  }
  100% {
    transform:translateY(750px);
  }
}