<div class="modal_wrapper" [ngClass]="modalService.showRegistrationModal ? 'modal-active' : 'out'">
  <div class="form_wrapper">

    <div class="logo_wrapper">
      <svg class="logo" width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="49.1854" height="49.1854" fill="white" />
        <rect x="16.0966" y="38.6802" width="3.72612" height="3.72612" rx="1.86306" stroke="black" />
        <rect x="8.50721" y="39.3617" width="2.36306" height="2.36306" rx="1.18153" fill="black" stroke="black"
          stroke-width="2.36306" />
        <rect x="8.50721" y="18.0942" width="2.36306" height="2.36306" rx="1.18153" fill="black" stroke="black"
          stroke-width="2.36306" />
        <rect x="8.50721" y="28.728" width="2.36306" height="2.36306" rx="1.18153" fill="black" stroke="black"
          stroke-width="2.36306" />
        <rect x="8.50697" y="7.46083" width="2.36306" height="2.36306" rx="1.18153" fill="black" stroke="black"
          stroke-width="2.36306" />
        <rect x="16.0966" y="6.77905" width="3.72612" height="3.72612" rx="1.86306" stroke="black" />
        <rect x="30.2487" y="7.46058" width="2.36306" height="2.36306" rx="1.18153" fill="black" stroke="black"
          stroke-width="2.36306" />
        <rect x="30.2479" y="18.0942" width="2.36306" height="2.36306" rx="1.18153" fill="black" stroke="black"
          stroke-width="2.36306" />
        <rect x="30.2479" y="28.728" width="2.36306" height="2.36306" rx="1.18153" fill="black" stroke="black"
          stroke-width="2.36306" />
        <rect x="30.2479" y="39.3617" width="2.36306" height="2.36306" rx="1.18153" fill="black" stroke="black"
          stroke-width="2.36306" />
        <rect x="37.8373" y="28.0465" width="3.72612" height="14.3599" rx="1.86306" stroke="black" />
      </svg>
      <div class="logo_description">
        <h3 class="title">CoreBox</h3>
        <p class="subtitle">.technologies with you</p>
      </div>
    </div>

    <div class="title_wrapper">
      <h2 class="title">Registration</h2>
      <span class="arrows">»</span>
      <p class="login">Login</p>
    </div>

    <form [formGroup]="userForm" (ngSubmit)="onSubmit(userForm.value)">
      <input formControlName="name" class="input_name" type="text" placeholder="Name">
      <input formControlName="email" type="email" placeholder="Email">
      <input formControlName="password" type="password" placeholder="Password">
      <div class="buttons_wrapper">
        <button [disabled]="userForm.invalid" type="submit" class="login_btn">
          Login
        </button>
        <div class="line"></div>
        <button (click)="signInWithGoogle()" type="submit" class="google_login_btn">
          <span class="google_icon"></span>
          Google
        </button>
      </div>
    </form>

  </div>

  <div class="circles_wrapper">
    <div class="top_right_circle"></div>
    <div class="top_left_circle"></div>
    <div class="middle_left_circle"></div>
    <div class="bottom_right_circle"></div>
    <div class="bottom_left_circle"></div>
  </div>

  <div class="arrow" (click)="modalService.showRegistrationModal = false">
    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect x="4.67358" y="32" width="3.01249" height="27.1124" transform="rotate(-90 4.67358 32)" fill="white" />
      <rect x="28.7734" y="4.13452" width="3.01249" height="27.1124" fill="white" />
      <rect y="2.13013" width="3.01249" height="40.9665" transform="rotate(-45 0 2.13013)" fill="white" />
    </svg>
  </div>

</div>

<!-- <div class="background" [ngClass]="modalService.showRegistrationModal ? 'modal-active' : 'out'"></div> -->