main {
  position: relative;
  width: 100%;
  height: 100%;
  background: url(../../../assets/images/main_background.png) no-repeat center;
  background-size: cover;
  padding: 30px 0;
  box-sizing: border-box;
  overflow-y: hidden;

  .rectangle {
    position: absolute;
    bottom: -130px;
    left: -80px;
    width: 292px;
    height: 292px;
    border: 4px solid #FFFFFF;
  }
}