/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

html, body {
  height: 100%;
}

input {
  display: block;
  outline: none;
  border: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

@font-face {
  font-family: "SF-UI-Display-Light";
  src: url(./assets/fonts/sf-ui-display-light.woff) format("truetype");
}

@font-face {
  font-family: "SF-UI-Display-Medium";
  src: url(./assets/fonts/sf-ui-display-medium.woff) format("truetype");
}

@font-face {
  font-family: "SF-UI-Display-SemiBold";
  src: url(./assets/fonts/sf-ui-display-semibold.woff) format("truetype");
}

@font-face {
  font-family: "SF-UI-Display-Thin";
  src: url(./assets/fonts/sf-ui-display-thin.woff) format("truetype");
}